#teams {
  height: 100%;
  background: blue;
  display: table-cell;
  vertical-align: top;
}

#teams.single {
  min-width: 0px;
}

#teams.multiple {
  min-width: 60px;
}

.team_icon {
  border-radius: 4px;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 15px;
  height: 34px;
  width: 34px;
  cursor: pointer;
}

#active_team {
  background: red;
  height: 100%;
  display: table-cell;
  width: 50000px; // webviews don't work quite right with 100%
}

#active_team .current {
  height: 100%;
}

#top_wrapper {
  display: table;
  height: 100%;
}

body {
  margin: 0;
}
